<div id="top" class="landing">
    <div class="menu-wrap">
        <input type="checkbox" class="toggler"/>
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu-background">
            <div class="menu">
                <a href="#about" class="navbar__item">
                    <div class="menu-point black">
                        Lars Alt
                    </div>
                </a>
                <a href="#current" class="navbar__item">
                    <div class="menu-point yellow">
                        Aktuelles
                    </div>
                </a>
                <a href="#wanted" class="navbar__item">
                    <div class="menu-point red">
                        Das will ich
                    </div>
                </a>
                <a href="#achieved" class="navbar__item">
                    <div class="menu-point blue">
                        Das habe ich erreicht
                    </div>
                </a>
                <a href="#support" class="navbar__item">
                    <div class="menu-point green">
                        So unterstützt Du mich
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="top-content">
        <div class="social-media-icon-bar">
            <a target="_blank" href="https://www.instagram.com/lar_alt/"><img class="icon"
                                                                              src="/icons/instagram_icon.svg"/></a>
            <a target="_blank" href="https://www.facebook.com/alt.politik/"><img class="icon"
                                                                                 src="/icons/Facebook_icon.svg"/></a>
        </div>
        <div class="party-logo">
            <img src="/images/FDP_Bund_BU_MGC_rgb.png">
        </div>
    </div>
    <div class="overflow">
        <div class="overflow__single">
            <a href="#about" class="navbar__item black">
                <div class="item__content">
                    Lars Alt
                </div>
            </a>
        </div>
        <div class="overflow__multiple">
            <a href="#current" class="navbar__item yellow">
                <div class="item__content">
                    Aktuelles
                </div>
            </a>
            <a href="#wanted" class="navbar__item red">
                <div class="item__content">
                    Das will ich
                </div>
            </a>
            <a href="#achieved" class="navbar__item blue">
                <div class="item__content">
                    Das habe ich erreicht
                </div>
            </a>
            <a href="#support" class="navbar__item green">
                <div class="item__content">
                    So unterstützt Du mich
                </div>
            </a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<div class="ig_section" id="ig_section">
    <% instagramPosts.forEach((post, idx) => { %>
            <div class="ig_container">
                <div class="ig_date_and_link">
                    <p class="ig_post_date"><%= post.date %></p>
                    <p><a class="ig_post_link" target="_blank" href="<%= post.link %>" aria-label="Link zum Post vom <%= post.date %>">Zum Instagram Post</a></p>
                </div>
                <div class="ig_image_and_desc">
                    <div class="ig_image">
                        <% if(post.isVideo) { %>
                            <video controls class="ig_post_image">
                                <source src="<%= post.videoUrl %>" type="video/mp4">
                            </video>
                        <% } else { %>
                            <img src="<%= post.thumbnail %>" class="ig_post_image">
                        <% } %>
                    </div>
                    <div class="ig_desc">
                        <p><%= post.text %></p>
                    </div>
                </div>
            </div>
    <% }); %>
</div>
<script>
    function cutDescription(description) {
        if (description.length > 250) {
            return description.slice(0, 251) + "...";
        }
        return description;
    }

    function convertUserData(profileJson) {
        const posts = profileJson.graphql.user.edge_owner_to_timeline_media.edges;
        return posts.map(post => {
            const postNode = post.node
            const description = cutDescription(post.node.edge_media_to_caption.edges[0].node.text);
            return {
                link: "https://www.instagram.com/p/" + postNode.shortcode,
                thumbnail: postNode.thumbnail_src,
                date: new Date(postNode.taken_at_timestamp * 1000),
                text: description,
                isVideo: postNode.is_video,
                videoUrl: postNode.video_url || undefined
            };
        })
    }

    var app = new Vue({
        el: '#ig_section',
        mounted: function() {
            this.fetchIGProfile();
        },
        data: {
            igProfile: "https://www.instagram.com/lar_alt/?__a=1",
            igPosts: []
        },
        methods: {
            fetchIGProfile: async function() {
                console.log("fetching...")
                const response = await fetch(this.igProfile, {
                    method: "GET"
                })
                const reader = await response.body.getReader();
                const stream = await reader.read();
                const profileJson = JSON.parse(new TextDecoder("utf-8").decode(stream.value));
                this.igPosts = convertUserData(profileJson);
            }
        }
    })
</script>
