@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin burgerLine {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: $yellow;
}

.menu-wrap {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: $magenta;
  border-radius: 2px;
  @include centered;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  @include burgerLine;
  @include centered;
  transition: all 0.6s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  @include burgerLine;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn line into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler ~ .menu-background {
  opacity: 0;
  transition: opacity 0.4s;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu-background {
  opacity: 1;
  transition: opacity 0.4s;
}

.menu-wrap .toggler:checked ~ .menu-background .menu {
  visibility: visible;
  transform: scaleX(1);
}

.menu-wrap .menu-background {
  position: fixed;
  transition: all 0.6s ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: flex-end;
}

.menu-wrap .toggler ~ .menu-background .menu {
  position: relative;
  z-index: 3 !important;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease;
  top: calc(50px + 1rem);
  right: 1rem;
  width: 50%;
  min-width: 150px;
}

.menu-point {
  padding: 1em;
  height: calc(40vh/5);
  opacity: 0.75;
}

.menu-point:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px)  {
  .menu-wrap {
    display: block;
  }
}