$yellow: #FFED00;
$cyan: #009EE3;
$magenta: #E5007D;
$orange: #F39200;
$violett: #56256B;
$turquoise: #00A8AE;
$instagram_link_color: #0096f6;

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Futura";
  margin: 0;
}

@import "overflow-menu";
@import "burger-menu";
@import "landing";
@import "instagramPosts";

.content {
  display: flex;
  flex-flow: column;
}

.content__section {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}