$yellow: #FFED00;
$cyan: #009EE3;
$magenta: #E5007D;
$orange: #F39200;
$violett: #56256B;
$turquoise: #00A8AE;

@import "menu";
@import "landing.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Futura";
  margin: 0;
}

.index_video {
  width: 100%;
}

//
//.to-top-button {
//  position: fixed; /* Fixed/sticky position */
//  bottom: 20px; /* Place the button at the bottom of the page */
//  right: 30px; /* Place the button 30px from the right */
//  z-index: 99; /* Make sure it does not overlap */
//  border: none; /* Remove borders */
//  outline: none; /* Remove outline */
//  background-color: red; /* Set a background color */
//  color: white; /* Text color */
//  cursor: pointer; /* Add a mouse pointer on hover */
//  padding: 15px; /* Some padding */
//  border-radius: 10px; /* Rounded corners */
//  font-size: 18px; /* Increase font size */
//  text-decoration: none;
//  opacity: 0.7;
//}

.content {
  display: flex;
  flex-flow: column;
}

.content__section {
  display: flex;
  justify-content: center;
}

.section {
  width: 75%;
  max-width: 700px;
}